
sequence/picamera2
sequence/ML_imgs
sequence/photo
sequence/photo_imageguide
sequence/photo_storage

cansat2023_main/__pycache__
cansat2023_main/log
imgs/parachute_avoid/all
imgs/human_detect/all
imgs
logs

sequence
testcodes
test_EM
test_BBM
cansat2023_sub